@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Merriweather:ital,wght@0,700;1,700&family=Montserrat:wght@200;400&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", "sans-serif";    
}

html{
    font-size: 62.5%;
}

.hamburger_menu{    
    width: 3rem;
    height: 3rem;    
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right .7s; 

}

.change .hamburger_menu{
    right: 23rem;    
}

.line{
    width: 100%;
    height: .4rem;
    border-radius: .3rem;
    background-color: #008b8b;
    box-shadow: .1rem, .2rem, rgba(0,0,0,0.2);
}

.change .line_1{
    transform: rotate(45deg) translate(0.3rem, 0.9rem);
}

.change .line_2{
    opacity:0; 
    visibility: hidden;
}

.change .line_3{
    transform: rotate(-45deg) translate(0.3rem, -0.9rem);
} 

.hamburger_menu span{
    position: absolute;
    left: 5rem;
    width: 10rem;
    height: 3.5rem;
    background-color:#008b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Roboto", "sans-serif";
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    opacity:0;
    visibility: hidden;
    transition: all 1s;
    
}

.change .hamburger_menu:hover span{
    opacity: 1;
    visibility: visible;
}

.hamburger_menu span::before{
    content: "";
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid #008b8b;
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
}



.header{
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}

.home_img_wrapper{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0, 0.8);
    overflow: hidden;
}

@keyframes scale{
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.home_img_wrapper img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: .9;
     animation: scale 25s; 
}

.banner{
    position: absolute;
    top: 10%;
    left: 15%;
}

.banner h1{
    font-family: "Lato", "sans-serif";
    font-size: 7rem;
    font-weight: 300;
    color: #ffffba;
    width: 100%;
    line-height: 9rem;
    letter-spacing: .2rem;
    text-shadow: 0.3rem, 0.5rem, rgba(0,0,0,0.4);
    opacity: 0;
    animation: move_banner 1.5s 0.7s forwards;
}

.banner p{
    font-family: "Roboto", "sans-serif";
    font-size: 4rem;
    color: #fff;
    width: 100%;
    letter-spacing: .4rem;
    margin-bottom: 3rem;
    text-shadow: 0.3rem, .5rem, rgba(0,0,0,0.4);
    opacity: 0;
    animation: move_banner 1.5s 0.9s forwards ;
    
}

.banner button{
    width: 25rem;
    height: 7rem;
    background-color:#ffa600;
    border: none;
    border-radius: 0.4rem;
    font-family: "Roboto", "sans-serif";
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.2rem, 0.4rem, rgba(0,0,0,0.2);
    box-shadow: 0.3rem, 0.5rem, rgba(0,0,0,0.4);
    cursor: pointer;
    opacity: 0;
    animation: move_banner 1.5s 1.1s forwards;
}

@keyframes move_banner{
    0% {
        transform: translateY(40rem) rotateY(-70deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 30rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: #d0dcdd;
    transition: right .5s;
}

.change .sidebar{
    right:0;
}

.menu{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu_item{
    text-align: center;
    margin-bottom: 1.5rem;    
}

.menu_link{
    font-family: "Roboto", "sans-serif";
    font-size: 2.5rem;
    color: #008b8b;
    position: relative;
    cursor: pointer;    
}

.menu_link::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color:#00003f;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width .3s ease-in-out; 
}

.menu_link:hover::before{
    width: 100%;
        
}

.socialmedia{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}


.sidebar_logo img{
    width: 12rem;    
}

.sidebar_logo{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.socialmedia img{
    margin: 2rem;
    width: 4.5rem;
    height: 4.5rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.socialmedia img:hover{
    cursor: pointer;
}


.main_content_wrapper{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
background-color: #effbff;
}

.section_title{
    margin-top: 0rem;
    font-size: 4rem;
    color: #004687;
    font-weight: 300;
}

.section_description{
    font-size: 1.6rem;
    margin: 2rem;
}

.section_header i{
    font-size: 3.5rem;
    margin-right: 1rem;
    border: none;
    opacity: .5;
}

.section_header{
    margin-top: 2rem;
    border: none;
    display: flex;
    align-items: center;
}

.section_divider{
    margin: 4rem 0rem;
}

.section_menu_category{
    border: solid .3rem #02bdce;
    border-radius: .4rem;
    background-color: #fff;
    width: 13rem;
    height:13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}


.section_menu_category_icon img{
    width: 6.4rem;
}

.section_menu_category_title h3{
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
   
}

.menu_line1{
    display: flex;
}

.menu_line2{
    display: flex;
}

.reporting_menu_title{
    font-size: 1.8rem;
    color: #fff;
    background-color: #004687;
    padding: .5rem;
}

.reporting_menu_list{
    font-size: 1.66rem;
    margin: 1rem;
}

.reporting_menu_list_item{
    margin-bottom: .2rem;
}

.reporting_menu{
    border: solid .1rem #004687;
    width: 25rem;
    margin: .5rem;
    background-color: #d0dcdd;
}

.residents_content{
    display: flex;
    justify-content: space-around;
}

.business_menu_category_icon img{
    height: 5rem;
    margin-top: .5rem;
}

[data-tab-content] {
display: none;
}

.active_business[data-tab-content]{
    display: block;
}

.business_tabs_menu{
    display: flex;
    justify-content: space-around;
    border-bottom: 0.3rem solid black;    
    font-size: 2.5rem;;
}

.business_content_tab{
    cursor: pointer;
    padding: 1rem;
}

.business_content_tab:hover{
    background-color: #008b8b;
}

.business_content_tab.active_business{
    background-color: #d0dcdd;
}

.business_tabs_content h1{
    font-size: 1.8rem;
    margin: 1rem;    
}

.business_tabs_content p{
font-size: 1.6rem;
margin: 1rem;
}

.business_content{
    display: flex;
    align-items: top;
}

.business_tabs_wrapper{
    margin: .5rem 2rem;
}

.business_tabs_wrapper{
    border: solid .3rem black;    
}

.whats_on_slider{
    max-width: 29rem;
    position: relative;
    margin: auto;
}

.whats_on_slide{
    display: none;
}

.slider_prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 .3rem .3rem 0;
    user-select: none;
}

.slider_prev:hover{
    background-color: rgba(0,0,0, 0.8);
}

.slider_next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;    
    user-select: none;
    right: 0;
    border-radius: .3rem 0 0 .3rem;
}

.slider_next:hover{
    background-color: rgba(0,0,0, 0.8);
}

.whats_on_slide_caption{
    color: #fff;    
    padding: .8rem 1.2rem;
    position: absolute;
    bottom: .8rem;
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
}

.whats_on_slide_caption h3{
    font-size: 2rem;
    font-family: "Lato", "sans-serif";
    margin: .5rem;
}

.whats_on_slide_caption p{
    font-size: 1.6rem;
    margin: 1rem;
}

.dot{
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 .2rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

.lifestyle_menu_title{
    height: 2.5rem;
    width: 12.5rem;
    background-color:#004687;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
}

.lifestyle_menu_image img{
    width: 12.5rem;
}

.lifestyle_menu_item{
    padding: 0 .5rem;;
}

.lifestyle_menu_top{
    display: flex;
    margin: .2rem .5rem;
}

.lifestyle_menu_bottom{
    display: flex;
    margin: .2rem .5rem;
}

.lifestyle_gallery_menu_container{
    display: flex;
    flex-direction: column;
    
}

.event_calendar{
    width: 28rem;
    height: 30rem;
    border: solid .2rem #00003f;
    background-color: #fff;
}


.calendar_title{
    width:100%;
    font-size: 1.4rem;
    color: #fff;
    background-color: #00003f;
    padding: 0 1rem;
}

.calendar_link{
    font-size: 1.2rem;
    margin: 2rem;
    color: #004687;
    
}

.event_list li{
    padding: 1.5rem;
}

.lifestyle_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.eat_shop_menu_img{
    height: 25rem;
}

.eat_shop_figure{
    position: relative;
    width: 25rem;
    margin: 1rem;;
    max-width: 30rem;    
    
}

.eat_shop_menu_img{
    display: block;
    width: 100%;
    height: auto;
}

.eat_shop_caption{
    color: white;
    background: black;
    font-weight: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    padding: .2rem;       
}

.eat_shop_menu_overlay_caption{
    font-size: 1.9rem;
    padding: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.4);
    color: #fff;    
    transition: 0.5s ease;
    opacity: 0;
   
}

.eat_shop_figure:hover .eat_shop_menu_overlay_caption{
    height: 92%;
    opacity: 1;
}

.eat_shop_menu_gallery_top{
    display: flex; 
    justify-content: space-between;   
}

.eat_shop_menu_gallery_middle{
    display: flex;    
}

.eat_shop_menu_gallery_bottom{
    display: flex;    
}

.eat_shop_menu_gallery{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.short_term_stay{
    margin: .5rem;
}

.stay_menu_img{
    width: 15rem;
    height: auto;
    
}

.buyrent_menu_img{
    width: 8rem;
    height: auto;
    margin: .5rem;
}

.stay_category_title{
    font-size: 1.8rem;   
}

.short_stay_category_title{
    color: white;
    font-size: 1.5rem;
    background-color: black;   
}

.short_stay_title{
    width: 48rem;
    font-size: 1.6rem;
    background-color:rgba(32, 80, 102, 0.4);
    color: black;
     text-align: center;    
}

.short_term_options{
    display:flex;
}

.stay_menu{
    display: flex;
}

.buyrent_menu_icon{
    border: solid .3rem rgba(32, 80, 102, 0.4);
    border-radius: .5rem;
    margin: .5rem;
    text-align:center;
    padding: 0.2rem;
}

.buyrent_menu_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.short_stay_menu_icon{
    border: none 0.3rem rgba(32, 80, 102, 0.4);
    text-align: center;
}

.health_caption{
    color: white;
    background: black;
    font-weight: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    padding: .2rem;   
}

.health_menu_img{
    width:26rem;
    height: auto;
}

.health_menu{
    display: flex;
}

.health_menu_item{
    position: relative;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.health_menu_caption_overlay{
    font-size: 1.9rem;
    padding: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0%;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.4);
    color: #fff;    
    transition: 0.5s ease;
    opacity: 0;
}

.health_menu_item:hover .health_menu_caption_overlay{
    height: 92%;
    opacity: 1;
} 

.transport_menu_img{
    width: 8rem;
    margin: .5rem;
}

.transport_caption{
    margin: .2rem;
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
}

.transport_menu_item{
    border: solid .2rem rgba(32, 80, 102, 0.8);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 13rem;   
}

.transport_menu{
    width: 80rem;
    display: flex;
    justify-content: space-between;
}

.transport_content{
    display: flex;
    justify-content: center;
}

.education_menu_item{
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.education_menu_img{
    width:20rem;
}

.education_caption{
    width: 20rem;        
    padding: .2rem;
    font-size: 1.8rem;
    background-color: #000;
    color: #fff;
}

.education_menu_caption_overlay{
    font-size: 1.8rem;
    padding: .2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0%;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.4);
    color: #fff;    
    transition: 0.5s ease;
    opacity: 0;
}

.education_menu_item:hover .education_menu_caption_overlay{
    height: 92%;
    opacity: 1;
} 

.education_menu{
    display: flex;
}

.safety_menu_img{
    width: 12rem;
    margin: .5rem;
}

.safety_menu_item{
    position: relative;
    border: solid 0.3rem rgba(32, 80, 102, 0.8);
    border-radius: .5rem;
    margin: .5rem;
    text-align: center;
}

.safety_caption{
font-size: 1.6rem;
font-weight: bold;
}

.safety_menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.safety_content{
display: flex;
justify-content: center;
}

.footer_logo{
    height: 8rem;
}

.footer_link{
    font-size: 1.6rem;
}

.footer{
    display: flex;
    align-items: center; 
    background-color:rgba(205, 225, 235, 0.8);  
}
.footer_menu{
    display: flex;
}
.footer_link{
    margin: 2rem;
}

@media(max-width: 415px){
    .left_spacer{
        display: none;
    }
    .right_spacer{
        display: none;
    }
    html{
        font-size:45%;
    }
    .banner h1{
        font-size: 3rem;
        font-weight: bold;
    }
    .banner p{
        font-size: 2rem;        
    }
    .banner button{
        width: 15rem;
        height: 4rem;
        font-size: 2rem;
    }
    .sidebar{
        width: 100%;
        right: -100%;
    }

    .change .hamburger_menu{
        right: 50rem;
    }

    .main_content_wrapper{
        display: block;        
        background-color: #effbff;
        }

    .menu_link{
        font-size: 3.5rem;
    }
    .section_header i{
        margin: 1rem;
    }
    .section_title{
        font-size: 3rem;
    }
    .menu_line1{
    flex-direction: column;
    }
    .menu_line2{
        flex-direction: column;
        }
    .section_menu{
        display: flex;
    }
    .reporting_menu_list_item{
        margin-bottom: 3rem;
    }
    .section_menu{
        margin-left: 1rem;
    }
    .lifestyle_content{
        display: flex;
        flex-direction: column;
    }
    .whats_on_slider{
        max-width: 50rem;
    }
    .lifestyle_menu_image img{
        width: 25rem;
    }
    .lifestyle_menu_title{
        height: 3rem;
        width: 25rem;        
        font-size: 2rem;
        
    }
    .event_calendar{
        width: 50rem;
        height: auto;        
        margin: 1rem;
    }         
    .calendar_link{
        font-size: 1.8rem;
        margin: 2rem;
        color: #004687;        
    }    
    .event_list li{
        padding: 1.5rem;
    }
    .eat_shop_menu_gallery_top{
        display: flex;         
    }
    
    .eat_shop_menu_gallery_middle{
        display: flex; 
         
    }
    
    .eat_shop_menu_gallery_bottom{
        display: flex;           
    }
    
    .eat_shop_menu_gallery{
        display: block;            
    }
    .stay_menu{
        display: block;
    }
    .buyrent_menu_icon{
        margin:1rem;
    }
    .short_stay_title{
        display: none;
    }
    .short_stay_menu_icon{
        display: flex;
        justify-content: center;
    }
    .stay_menu_img{
        width: 16rem;
    }
    .health_menu_img{
        width: 16rem;
        margin: 1rem;
    }
    .health_menu_item{
        width: 16rem;
        margin: 1rem;        
    }
    .health_content .health_menu{
        justify-content: center;;
    }
    .transport_menu{
         width: 80rem;
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    .transport_menu_item{
        margin: 1rem;        
    }
    .transport_content .transport_menu{
        justify-content: center;
    }
    .education_menu_item{
        width: 22rem;
    }
    .education_menu_img{
        width: 22rem;
    }
    .education_caption{
        width: 22rem;
    }
    .education_menu{
        flex-wrap: wrap;
    }
    .education_content .education_menu{
        justify-content: center;;
    }
    .safety_menu{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .safety_menu_item{
        margin: 1rem;
    }
    .safety_menu_img{
        width: 12rem;
    }
    .safety_content .safety_menu{        
        justify-content: center;;
    }
    .footer_link{
        font-size: 1.2rem;
        margin: 1rem;        
    }
    .footer_menu{
        text-align: center;
        margin: 1rem;
    }
    .footer_img{
        margin: 1rem;
    }
}